.App {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.nasa-logo {
  height: 300px;
  width: 500%px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .nasa-logo {
      margin: auto;
      width: 400px;
  }
}

@media only screen and (max-width: 430px) {
  .nasa-logo {
      margin: auto;
      width: 300px;
  }
}

@media only screen and (max-width: 330px) {
  .nasa-logo {
      width: 240px;
      margin: auto;
  }
}
