span {
    margin: 20px;
    border-style: ridge;

}

.SearchResults {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-image {
    align-items: space-between;
    justify-content: space-between;
    padding: 10px;
    width: 360px;
    margin: 10px auto;
    height: 280px;
    border: 0.3px solid #a09b9b;
}

#p-SearchResults {
    font-size: 30px;
    position: relative;
    left: 42%;
}

#p-NoResults {
    font-size: 30px;
    margin: 20px auto; 
}
